.idea
*/*/*.go
*/proto/*/*.go
*/proto/*.go
./proto/*/*.go
consignment-service/proto/consignment/*.go
consignment-cli/consignment-cli
consignment-service/consignment-service
vessel-service/vessel-service
